<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- <h2>Index file</h2> -->
     <h2> <%= title%></h2>  
     <a href="">View ToDos</a>  
     <!-- in case of loop <% %>   no equalto -->
</body>
</html>